[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
starlette = "*"
sqlalchemy = "*"
flake8 = "*"
pymongo = "*"
pydantic = "*"
python-multipart = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.10"
